# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin/
obj/

# mstest test results
TestResults

# project temp files
*.suo
*.swp
*.user

# vim cache file
*~

# nuget packages
packages/

# StyleCop cache
StyleCop.Cache
